<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vippygames.bianic">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".common.ThemeApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <receiver
            android:name=".common.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".rebalancing.schedule.RebalancingReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".rebalancing.schedule.RebalancingCheckIntentService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".rebalancing.schedule.RebalancingForegroundService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".activities.main.MainActivity"
            android:exported="true"
            android:label="@string/manifest_main_label"
            android:theme="@style/Theme.App.Starting"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.GuideActivity"
            android:label="@string/manifest_guide_label" />
        <activity
            android:name=".activities.ExceptionsActivity"
            android:label="@string/manifest_excp_label" />
        <activity
            android:name=".activities.ConfigureActivity"
            android:label="@string/manifest_config_label" />
        <activity
            android:name=".activities.reports.ReportsActivity"
            android:label="@string/manifest_rep_label" />
        <activity
            android:name=".activities.DetailedReportActivity"
            android:label="@string/manifest_detrep_label" />
    </application>

</manifest>